body {
  background-color: lightblue;
  text-align: center;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 12px;
  background-color: white;
}

@media only screen and (max-width: 820px){
  main { margin: auto 20px; }
}

h1 {
  text-align: center;
  color: cornflowerblue;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

button, input[type='submit'] { margin-top: 12px; }



.img-container {
  width: fit-content;
  margin: auto;
  position: relative;
}

.attribute {
  position: absolute;
  background-color: white;
  left: 0;
  bottom: 0;
  font-size: 0.5rem;
}

.restaurant-img { max-width: 100%; }

